.gridView {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.gridView:hover {
  background-color: rgba(112, 112, 112, 0.12);
}

.inputView {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.formView {
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin: 10px;
}

/* Styling für die CourseInput */
.form-group input {
  font-size: 15px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.course-name input {
  width: auto;
}

.holesHeadline {
  display: flex;
  align-items: center; /* Zentriert die Elemente vertikal */
  gap: 10px;
  justify-content: center;
}

.holes-container {
  font-size: 15px;
  display: grid;
  grid-template-rows: repeat(9, auto); /* 6 Reihen pro Spalte */
  grid-auto-flow: column; /* Elemente zuerst spaltenweise anordnen */
  gap: 10px;
  column-gap: 50px; /* Abstand zwischen den Elementen */
  justify-content: center; /* Zentriert das Grid horizontal */
  align-items: start;
  padding: 0 50px 0 50px; /* Elemente oben ausrichten */
}

.hole {
  font-size: 15px;
  justify-content: center;
  display: flex;
  align-items: center; /* Vertikale Zentrierung von Label und Input */
  gap: 10px; /* Abstand zwischen Label und Input */
}

.hole input {
  font-size: 15px;
  width: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-btn {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow:
    rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family:
    -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 20px 20px 20px 20px;

  padding-left: 50px;
  padding-right: 50px;
}

.submit-btn:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px 30px;
  background-color: #049384;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: #036a5d;
}

.dropdown-menu {
  width: auto;
  max-height: 300px;
  border: 1px solid #ccc;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.dropdown-item:hover {
  background-color: rgba(227, 227, 227, 0.53);
}