.component-right {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);


}

.headline {
    text-align: center;
    margin: 10px; /* Abstand zum Rand */
}

h1{
    font-size: 40px;
    margin: 10px;

}

.loadingGif img {
    height: 50px;
    width: 50px;


}
.loadingGif{
     position: absolute;
     z-index: 10;
}


.calcOutput{
    font-size: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    border: 2px solid black; /* Schwarze Umrandung */
    padding: 10px; /* Abstand zum Rand */
    border-radius: 5px; /* Abgerundete Ecken */
}

h2{
    font-size: 30px;
    white-space: nowrap;
    margin: 0;
    grid-column: span 2;
    text-align: center;; /* Nimmt die volle Breite ein */
}


.hdcInfo{
    display: grid;
    grid-template-columns: max-content max-content;
    border: gray;
    padding: 0px 10px 20px 10px; /* Padding */
    gap: 20px; /* Space between components */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow-y: auto;
    justify-content: center



}


.roundsInfo{
    display: grid;
    padding: 20px 10px 20px 10px;
    grid-template-columns: minmax(0, 1fr);
    /* Padding */
    gap: 5px; /* Space between components */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow-y: auto;
}







