
html,
body,
#app {
    margin: 0;
    padding: 0;

}

body {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #f5f5f5; /* Heller Hintergrund für Kontrast */
    /*background: rgb(4,237,213);*/
    /*background: radial-gradient(circle, rgba(4,237,213,1) 0%, rgba(4,147,132,1) 53%, rgba(1,83,74,1) 100%);*/
    overflow-x: hidden;

}


